@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  font-family: "Urbanist", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Instrument Serif", serif;
  font-weight: normal;
}
h1 {
  color: #000000;
}
.bg-primary {
  background-color: #d2ba8c;
  color: #000000;
}
.hover\:bg-primary:hover {
  background-color: #baa47c;
}
.hover\:text-primary:hover {
  color: #333;
}
.bg-secondary {
  background-color: #fdf6f0;
  color: #000;
}
.hover\:bg-secondary:hover {
  background-color: #dedede;
}
.border-secondary {
  border-color: #faf0f0;
}
.bg-card {
  background-color: #ffffff;
  color: #333;
}
.navbar {
  background-color: #ffffff;
  color: #333;
}
.text-gradient {
  background-image: linear-gradient(45deg, #9d8962, #d2ba8c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rounded {
  border-radius: 0rem 0.8rem;
}
.btn {
  text-transform: uppercase;
}
