@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

body {
  background-color: #ffffff;
  color: #333;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Playfair", serif;
}
h1 {
  color: #cc000a;
}
.bg-primary {
  background-color: #cc000a;
  color: #ffffff;
}
.hover\:bg-primary:hover {
  background-color: #b1020b;
}
.hover\:text-primary:hover {
  color: #333;
}
.bg-secondary {
  background-color: #fff8f8;
  color: #000;
}
.hover\:bg-secondary:hover {
  background-color: #dedede;
}
.border-secondary {
  border-color: #faf0f0;
}
.bg-card {
  background-color: #ffffff;
  color: #333;
}
.navbar {
  background-color: #ffffff;
  color: #333;
}
.text-gradient {
  background-image: linear-gradient(45deg, #cc000a, #cc000a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rounded {
  border-radius: 0;
}
.btn {
  text-transform: uppercase;
}
