@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  background-color: #000000;
  color: #ffffff;
  line-height: 1.6;
  font-family: "Space Grotesk", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}
h1 {
  color: #ffffff;
}
.bg-primary {
  background-color: #03ffcc;
  color: #000000;
}
.hover\:bg-primary:hover {
  background-color: #00d9ad;
}
.hover\:text-primary:hover {
  color: #00d9ad;
}
.bg-secondary {
  background-color: #0e0e0e;
  color: #ffffff;
}
.hover\:bg-secondary:hover {
  background-color: #121212;
}
.border-secondary {
  border-color: rgba(38, 59, 7, 0.118);
}
.bg-card {
  background-color: #232323;
  color: #ffffff;
}
.navbar {
  background-color: #000000;
  color: #ffffff;
}
.text-gradient {
  background-image: linear-gradient(45deg, #03ffcc, #44ffda);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rounded {
  border-radius: 1rem;
}
.btn {
  font-weight: normal;
}
