@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  font-family: "DM Sans", sans-serif;
}
h1,
h2,
h3 {
  font-family: "DM Sans", sans-serif;
  font-weight: 600;
}
h1 {
  color: #000000;
}
.bg-primary {
  background-color: #ff4e98;
  color: #ffffff;
}
.hover\:bg-primary:hover {
  background-color: #f43786;
}
.hover\:text-primary:hover {
  color: #ff4e98;
}
.bg-secondary {
  background-color: #fff8f9;
  color: #000000;
}
.hover\:bg-secondary:hover {
  background-color: #f2f2f2;
}
.border-secondary {
  border-color: rgba(0, 0, 0, 0.044);
}
.bg-card {
  background-color: #ffffff;
  color: #000000;
}
.navbar {
  background-color: #ffffff;
  color: #000000;
}
.text-gradient {
  background-image: linear-gradient(45deg, #ff4e98, #ff85b6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rounded {
  border-radius: 1.5rem;
}
.btn {
  font-weight: normal;
}
