@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  background-color: #0d0d0d;
  color: #ffffff;
  line-height: 1.6;
  font-family: "Space Grotesk", sans-serif;
}
.bg-primary {
  background-color: #10b981;
}
.hover\:bg-primary:hover {
  background-color: #0c9567;
}
.hover\:text-primary:hover {
  color: #0c9567;
}
.bg-secondary {
  background-color: #131313;
  color: #ffffff;
}
.hover\:bg-secondary:hover {
  background-color: #dedede;
}
.border-secondary {
  border-color: #212121;
}
.bg-card {
  background-color: #232323;
  color: #ffffff;
}
.navbar {
  background-color: #0d0d0d;
  color: #ffffff;
}
.text-gradient {
  background-image: linear-gradient(45deg, #10b981, #3b82f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rounded {
  border-radius: 0.6rem;
}
