@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

body {
  background-color: #ffffff;
  color: #000000;
  line-height: 1.6;
  font-family: "Space Grotesk", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Space Grotesk", sans-serif;
  font-weight: 600;
}
h1 {
  color: #ffffff;
}
.bg-primary {
  background-color: #246cff;
  color: #ffffff;
}
.hover\:bg-primary:hover {
  background-color: #135beb;
}
.hover\:text-primary:hover {
  color: #246cff;
}
.bg-secondary {
  background-color: #000000;
  color: #ffffff;
}
.hover\:bg-secondary:hover {
  background-color: #292929;
}
.border-secondary {
  border-color: #f2f2f2;
}
.bg-card {
  background-color: #ffffff;
  color: #000000;
}
.navbar {
  background-color: #ffffff;
  color: #000000;
}
.text-gradient {
  background-image: linear-gradient(45deg, #246cff, #3d7eff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rounded {
  border-radius: 1.5rem;
}
.btn {
  font-weight: normal;
}
