@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: #2b2119;
  color: #ffffff;
  line-height: 1.6;
  font-family: "Urbanist", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Instrument Serif", serif;
}
h1 {
  color: #2b2119;
}
.bg-primary {
  background-color: #ffda3d;
  color: #2b2119;
}
.hover\:bg-primary:hover {
  background-color: #f2ce2c;
}
.hover\:text-primary:hover {
  color: #a75f24;
}
.bg-secondary {
  background-color: #ece8db;
  color: #2b2119;
}
.hover\:bg-secondary:hover {
  background-color: #e3decb;
}
.border-secondary {
  border-color: rgba(0, 0, 0, 0.044);
}
.bg-card {
  background-color: #ffffff;
  color: #2b2119;
}
.navbar {
  background-color: #ece8db;
  color: #2b2119;
}
.text-gradient {
  background-image: linear-gradient(45deg, #a75f24, #ffd000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.rounded {
  border-radius: 0.5rem;
}
.btn {
  font-weight: normal;
}
